<div class="jumbotron center">
	<h1>Welcome to test app!</h1>
	This is <i> preeeetttty</i>, <i>preeeetttty</i>, <i>preeeeeeeeeeeettttttttttttty</i> neat.</p>
	<p><%= link_to "Sign Up","#", class:"btn-primary btn-lg"%> or <%= link_to "Login!","#", class:"btn-primary btn-lg"%>
	



</div>