<div class="jumbotron center">
	<h1>Welcome to test app!</h1>
	This is <i> preeeetttty</i>, <i>preeeetttty</i>, <i>preeeeeeeeeeeettttttttttttty</i> neat.</p>
	<p>

   <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>

  </p>    

		


	



</div>