
<div class="jumbotron">
     <h1>Todo list</h1>
     <% if user_signed_in? %>
       Welcome to members area, pal. Here's stuff on the todo list:
       <br>
<div>       
<u><strong>Here's what I want to eventually figure out:</strong></u>
<li> <s>Turn this todo list of bullet points into its own page ~/todo</s></li>
<li>++Step it up and be able to strike out these to do items w/ checkboxes (THIS IS POSSIBLE W/ SCAFFOLDING! Each todo item has an id and is a record/row in db!)</li>
<li> How to call an individual pin, ex pin(1) and then have it display in the table <%= link_to "here", pins_path %></li>
<li> <s>How to make top row span/merge + center in the table <%= link_to "here", pins_path %></s></li>
<li> How to style tables & such with bootstrap? Highlight rows w/ mouseover, sort, etc</li>
<li> How can I use these skills to help Jeff?</li>
<li> Fix my edit to _form.html.erb where the button has create pin hard-coded into it</li>
<Li> For above, what I changed in ~/app/views/pins/_form.html.erb <strong>f.submit "Create Pin", class: "btn btn-primary"</strong> and changed to <Strong> f.button :submit, class: "btn btn-primary"</strong>
<li> Easy command line way to get the column names?</li>
<Li> Logging in, figure out how to welcome user by email. Ex "welcome to members area, {EMAIL FROM DEVISE DATABASE}"
</div>


     <% else %>


<%#IF USER IS NOT LOGGED IN...%>
 <p>
 <div border = 22>
 Psst...Log in to see the todo list</div>
 <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
 </p>
  <% end %>  
</div>
